<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Tate Gallery</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/artist/" >Artists</a>
</li>
        <li><a href="/artwork/" >Artworks</a></li> 
       
        			<li class="active" sec:authorize="hasRole('user')">
               <form th:action="@{/logout}" method="post" style="display: inline;">
            <input type="submit" value="Sign Out" style="background:rgba(0,0,0,0);border:none;color: #777;padding-top: 15px;
    padding-bottom: 15px;"/>
        </form>
</li>
<li  sec:authorize="!hasRole('user')">
   <a href="/login" >Login</a>
</li>
      </ul>
    </div>
  </div>
</nav>




<div class="container">
    <div class="row row-centered">

    <p>Name: <span th:text="${singleArtist.FullName}">Text ...</span></p>
    <p>Gender: <span th:text="${singleArtist.gender}">Text ...</span></p>
    <p>Birth Year: <span th:text="${singleArtist.birthYear}">Text ...</span></p>
    <p>Birth Place: <span th:text="${singleArtist.placeName}">Text ...</span></p>
    
     <h3>Flicker Gallery</h3>
    
        
	<div class="row">
		<div class='list-group gallery'>
			<!-- http://farm{farm-id}.staticflickr.com/{server-id}/{id}_{secret}.jpg -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'  th:each="message3, iterationStatus : ${detail.photos.photo} ">
              <a href="" th:href="${message3.getUrl()}" >
                    <img class="img-responsive" alt="" th:src=" ${message3.getUrl()}" height="100" width="100"/>
                   
              </a>
            </div> <!-- col-6 / end -->
    </div>
    
    </div>
   
    
    <table class="table table-bordered">
     <caption>Movements</caption>
    <tr>	
    	<th>id</th>
    	<th>name</th>
	</tr>
    <tr th:each="message1 : ${singleArtist.movements}">
    	<td th:text="${message1.id}">Text ...</td>
    	<td th:text="${message1.name}">Text ...</td>
	</tr>
    </table>

    <br></br>
       
     
    <h3>Artworks:</h3>
    

    
    
    <div th:each="message3, iterationStatus : ${singleArtist.artworks} " class="col-md-4">
    <h3> <span th:text="${iterationStatus.count}">1</span></h3>
    	<img th:src="${message3.thumbnailUrl}" style="height:200px"/>
    	<p>Artwork id: <span th:text="${message3.acno}">Text ...</span></p>
    	<p>Artwork Title: <a href="" th:href="@{'/artwork/' + ${message3.acno}}" th:text="${message3.title}"><span th:text="${message3.title}">Text ...</span></a></p>
    	<p>Artwork Medium: <span th:text="${message3.medium}">Text ...</span></p>
    	<p>Artwork Movements: <span th:text="${message3.movements}">Text ...</span></p>
    	<hr></hr>
    </div>
    
        <div th:each="message3, iterationStatus : ${singleArtist.artworks} " class="col-md-4">
    <h3> <span th:text="${iterationStatus.count}">1</span></h3>
    	<img th:src="${message3.thumbnailUrl}" style="height:200px"/>
    	<p>Artwork id: <span th:text="${message3.acno}">Text ...</span></p>
    	<p>Artwork Title: <a href="" th:href="@{'/artwork/' + ${message3.acno}}" th:text="${message3.title}"><span th:text="${message3.title}">Text ...</span></a></p>
    	<p>Artwork Medium: <span th:text="${message3.medium}">Text ...</span></p>
    	<p>Artwork Movements: <span th:text="${message3.movements}">Text ...</span></p>
    	<hr></hr>
    </div>
    
            <div th:each="message3, iterationStatus : ${detail.photos} " class="col-md-4">
   
    	<p>Artwork Movements: <span th:text="${message3.perpage}">Text ...</span></p>
    	<hr></hr>
    </div>
    

    

</div>
</div>
</body>




</html>