<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/css/custom.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Gallery</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/artist/" >Artists</a>
</li>
        <li><a href="/artwork/" >Artworks</a></li> 
       
     
	
			<li sec:authorize="hasRole('user')">
               <form th:action="@{/logout}" method="post" style="display: inline;">
            <input type="submit" value="Sign Out" style="background:rgba(0,0,0,0);border:none;color: #777;padding-top: 15px;
    padding-bottom: 15px;"/>
        </form>
</li>
<li sec:authorize="!hasRole('user')">
   <a href="/login" >Login</a>
</li>
        
        
  
        
      </ul>
    </div>
  </div>
</nav>


<div sec:authorize="hasRole('user')">
<h1>Hello, <span sec:authentication="name">Guest</span></h1>      
</div>
<div sec:authorize="!hasRole('user')">
<h1>Hello, Guest</h1>
</div>

<h2>Welcome to the  Gallery</h2>





<ul class="gallery">
  <span  th:each="message, status : ${view.photos.photo}" >
 <input type="radio" name="radio-btn" th:id="${status.count}" checked="checked"/>  

  
  <li class="slider-container">
	<div class="slider">
	  <img th:src=" ${message.getUrl()}" />
    </div>
		
	<div class="nav">
		<label for="2" class="left">&#60;</label>
		<label for="1" class="right">&#62;</label>
	</div>
  </li>
</span>
   

    
</ul>
   


</body>
</html>