<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:security="http://www.springframework.org/security/tags" >

<head>

<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Tate Gallery</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li ><a href="/artist/" >Artists</a>
</li>
        <li class="active"><a href="/artwork/" >Artworks</a></li> 
       
        			<li class="active" sec:authorize="hasRole('user')">
               <form th:action="@{/logout}" method="post" style="display: inline;">
            <input type="submit" value="Sign Out" style="background:rgba(0,0,0,0);border:none;color: #777;padding-top: 15px;
    padding-bottom: 15px;"/>
        </form>
</li>
<li  sec:authorize="!hasRole('user')">
   <a href="/login" >Login</a>
</li>
      </ul>
    </div>
  </div>
</nav>




<div class="container">
    <div class="row row-centered">
    <img th:src="${singleArtwork.thumbnailUrl}"/>
    <p>Id: <span th:text="${singleArtwork.acno}">Text ...</span></p>
    <p>Title: <span th:text="${singleArtwork.title}">Text ...</span></p>
    <p>Medium: <span th:text="${singleArtwork.medium}">Text ...</span></p>
    <p>Artist: <a href="" th:href="@{'/artist/' + ${singleArtwork.artist.getId()}}" th:text="${singleArtwork.artist.getFullName()}"><span th:text="${singleArtwork.artist.getFullName()}">Text ...</span></a></p>
    <p>Artist Gender: <span th:text="${singleArtwork.artist.gender}">Text ...</span></p>
    
    <p>Movements: </p>
    <table border="1">
    <tr>	
    	<th>id</th>
    	<th>name</th>
	</tr>
    <tr th:each="message1 : ${singleArtwork.movements}">
    	<td th:text="${message1.id}">Text ...</td>
    	<td th:text="${message1.name}">Text ...</td>
	</tr>
    </table>
    
    </div>

        
    <h1>Comments</h1>
    
    

    
    <div class="col-sm-12" th:each="message3, iterationStatus : ${singleArtwork.comments}">
    <div class="col-sm-5" >
<div class="panel panel-default">
<div class="panel-heading">
<strong><span th:text="${message3.user}">Text ...</span></strong> <span class="text-muted">commented <span th:text="${message3.date}">Text ...</span></span>
</div>
<div class="panel-body">
<span th:text="${message3.comment}">Text ...</span>
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->

</div><!-- /col-sm-5 -->
</div>
 
    
    
    

    
<div sec:authorize="hasRole('user')">   
    <h3>Add new comment</h3>
    <form action="#" th:action="@{'/artwork/' + ${singleArtwork.acno}}" th:object="${comment}" method="post">
        <p>Comment: <input type="text" th:field="*{comment}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
    </div>
</body>




</html>