.table-bordered {
	background-color: #fff;
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0px 0px 3px 1px;


}
.gallery {
  width: 610px;
  height: 415px;
  position: relative;
  display: block;
}

.gallery input {
  display: none;
}

.slider-container {
  display: block;
}

.slider {
  opacity: 0;
  width: 600px;
  height: 415px;
  position: absolute;
  display: block;
}

.slider img {
  width: 100%;
  height: 100%;
}

.nav label {
  width: 200px;
  height: 100%;
  position: absolute;
  opacity: 0;
  z-index: 10;
  transition: opacity .2s;
  color: black;
  background-color: (248, 248, 248, .3);
  font-size: 160pt;
  text-align: center;
  line-height: 390px;
}

.slider:hover + .nav label {
  opacity: 1;
}

.nav label:hover {
  opacity: 2;
}

.nav .right {
  right: 0;
}

input:checked + .slider-container .slider {
  opacity: 2;
}

input:checked + .slider-container .nav label {
  display: block;
}
